main {
    background-color: rgb(150, 197, 150);
    color: rgb(37, 37, 37);
    font-family: monospace;
}

h1 {
    color:rgb(0, 0, 0)
}

h2 {
    color:rgb(77, 104, 77)
}

table {
    background-color: rgb(149, 184, 149);
    
        
}

